<aside class="w-64 bg-gray-900 text-white min-h-screen p-4">
  <nav class="space-y-3">
    <a routerLink="/membros" class="block hover:text-blue-400" routerLink="/membros">Membros</a>
    <a routerLink="/escalas"class="block hover:text-blue-400" routerLink="/escalas">Escalas</a>
    <a routerLink="/doacoes" class="block hover:text-blue-400" routerLink="/doacoes">Doações</a>
    <a routerLink="/avisos" class="block hover:text-blue-400" routerLink="/avisos">Avisos</a>

  </nav>
</aside>

<!-- Sidebar some no mobile. -->
